POSTGRES_NAME=tpbank
POSTGRES_USER=tpbank
POSTGRES_PASSWORD=tpbank
POSTGRES_HOST=postgres-tpbank
POSTGRES_PORT=5432
POSTGRES_DB=tpbank
DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}