LOGIN_USECASE_SECRET=dummy
AUTH_ACCESS_TTL=300s
AUTH_REFRESH_TTL=600s
FEE_AMOUNT=1000
FEE_DESC=Fee transaction
REDIS_DB_PORT=6379
REDIS_DB_HOST=redis
REDIS_DB_PASSWORD=
REDIS_DB=0
REDIS_DB_URL=${REDIS_DB_HOST}:${REDIS_DB_PORT}
REDIS_URL=redis://:${REDIS_DB_PASSWORD}@${REDIS_DB_HOST}:${REDIS_DB_PORT}/${REDIS_DB}
PORT=8081